
table {
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 5px;
    padding: 0px;
    spacing: 0px;
}

td {
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  spacing: 0px;
}

th, td {
  padding: 0px;
}

.gwt-Button {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.gwt-DecoratedPopupPanel .popupMiddleCenter {
    padding: 3px;
    background: lightsteelblue;
    width: 8em;
    height: 2em;
}
.gwt-DecoratedPopupPanel .popupTopCenter {
    height: 1px;
    background: black;
}
.gwt-DecoratedPopupPanel .popupBottomCenter {
    height: 1px;
    background: black;
}
.gwt-DecoratedPopupPanel .popupMiddleLeft {
    width: 1px;
    background: black;
}
.gwt-DecoratedPopupPanel .popupMiddleRight {
    width: 1px;
    background: black;
}

.gwt-DialogBox .Caption {
    background: #F1F1F1;
    padding: 4px 8px 4px 4px;
    cursor: default;
    font-family: Arial Unicode MS, Arial, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #bbbbbb;
    border-top: 1px solid #D2D2D2;
    border-right: 1px solid #D2D2D2;
    border-left: 1px solid #D2D2D2;
}

.gwt-DialogBox .dialogContent {
    background: #F1F1F1;
}

.gwt-DialogBox .dialogMiddleCenter {
    padding: 3px;
    background: #F1F1F1;
}

.gwt-DialogBox .dialogBottomCenter {
    border-bottom: 1px solid #D2D2D2;;
}

.gwt-DialogBox .dialogMiddleLeft {
    border-left: 1px solid #D2D2D2;
}

.gwt-DialogBox .dialogMiddleRight {
    border-right: 1px solid #D2D2D2;
}

.gwt-DisclosurePanel-open {
    border: 1px solid black;
    background: #f4f4f4;
}

#wise-banner {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    border-color: black;
    border-width: thick;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

div.endpoint {
    border: 1px;
    border-style: solid;
    border-color: black;
}

div.endpoint-selected {
    background-color: #c6c6c6;
}
div.endpoint-unselected {
    background-color: white;
}

/* input box */
input.disableBlk {
    background-color: lightgray;
    color: darkgray;
}

input.enableBlk {
     background-color: white;
     color: black;
 }

/* TreeItem */
table.disableBlk {
    background-color: lightgray;
    color: darkgray;
}
table.enableBlk {
    background-color: white;
    color: black;
}

div.evenBlk {
    background-color: #DCDCDC;
}
div.oddBlk {
    background-color: #EAEAEA;
}


/* Label */
div.disableBlk {
    background-color: lightgray;
    color: darkgray;
}
div.enableBlk {
    background-color: white;
    color: black;
}

.wsdlListButton {
    width: 10em;
}
.readWsdlButton {
    width: 10em;
}

.soapFault {
    background-color: indianred;
}

input.numberValidationError {
    color: red;
}

div.numberValidationError {
    color: red;
}

input.urlValidationError {
    color: red;
}

div.urlValidationError {
    color: red;
}

.wiseStepLabel {
    font-size: 110%;
    font-weight: bold;
    text-align: center;
}

.wise-menuPanel {
    /*background: yellowgreen; */
    float:right;
    width: 200px;
}

.wise-gwt-Button {
    float:right;
    font-size: 105%;
}

