
table {
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 5px;
    padding: 0px;
    spacing: 0px;
}

td {
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  spacing: 0px;
}

th, td {
  padding: 0px;
}

.gwt-Button {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.gwt-DecoratedPopupPanel .popupMiddleCenter {
    padding: 3px;
    background: lightsteelblue;
    width: 8em;
    height: 2em;
}
.gwt-DecoratedPopupPanel .popupTopCenter {
    height: 1px;
    background: black;
}
.gwt-DecoratedPopupPanel .popupBottomCenter {
    height: 1px;
    background: black;
}
.gwt-DecoratedPopupPanel .popupMiddleLeft {
    width: 1px;
    background: black;
}
.gwt-DecoratedPopupPanel .popupMiddleRight {
    width: 1px;
    background: black;
}


#wise-banner {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    border-color: black;
    border-width: thick;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

div.evenBlk {
    background-color: #DCDCDC;
}
div.oddBlk {
    background-color: #EAEAEA;
}

/* input box */
input.disableBlk {
    background-color: lightgray;
    color: darkgray;
}

input.enableBlk {
     background-color: white;
     color: black;
 }

/* TreeItem */
table.disableBlk {
    background-color: lightgray;
    color: darkgray;
}
table.enableBlk {
    background-color: white;
    color: black;
}

/* Label */
div.disableBlk {
    background-color: lightgray;
    color: darkgray;
}
div.enableBlk {
    background-color: white;
    color: black;
}

.wsdlListButton {
    width: 10em;
}
.readWsdlButton {
    width: 10em;
}

.soapFault {
    background-color: indianred;
}
